*,
*::before,
*::after {
    box-sizing: border-box;
}

main:

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 400;
    background: linear-gradient: 
}